* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

a {
 text-decoration: none;
}

body {
 font-family: Arial, sans-serif ;
}

p {
 font-family: PTSerif, sans-serif;
}

.header {
 background: url(../img/bg.jpg) no-repeat center top / cover;
}

.container {
 max-width: 1011px;
 margin: 0 auto;
 padding-right: 10px;
 padding-left: 10px;
}

.heading {
 display: grid;
 grid-template-columns: 3fr 7fr;
 padding-top: 40px;
 margin-bottom: 135px;
}

.navigation {
 justify-self: right;
 align-self: center;
}

.menu {
 display: block;
}

.menu  li{
 display: inline-block;
 margin-left: 10px;
 text-transform: uppercase;
}

.menu a {
 display: inline-block;
 color: #fff;
 font-size: 18px;
 padding: 10px;
}

.menu a:hover {
 background-color: #130e27;
 border-radius: 5px;
}

.describe {
 display: grid;
 grid-template-columns: auto auto;
 margin-bottom: 75px;
}

.titles {
 margin-left: 20px;
}

h1 {
 color: #fff;
 font-size: 90px;
 text-transform: uppercase;
 padding-bottom: 50px;
 padding-right: 10px;
}

.titles__sell {
 color: #130e27;
}

.titles__p {
 color: #fff;
 font-size: 20px;
 max-width: 475px;
 padding-left: 10px;
}

h3 {
 font-family: Monserrat, sans-serif;
 color:#130e27;
 font-size: 22px;
 text-align: center;
 padding-top: 30px;
 text-transform: uppercase;
 padding-bottom: 37px;
}

.forms {
 background-color: #fff;
 border-radius: 5px;
 box-shadow: 0 0 1em black;
 margin-bottom: -70px;
}

input[type="text"] {
 color: #000;
 background-color: #eee;
 border: none;
 border-radius: 5px;
 width: 350px;
 height: 58px;
 font-size: 20px;
 margin-left: 24px;
 margin-bottom:16px;
 padding-left: 19px;
}


input[type="checkbox"] {
 margin: 0 25px 22px 28px;
}

input[type="submit"] {
 display: inline-block;
 color: #fff;
 background-color: #c62314;
 border-radius: 5px;
 min-width: 352px;
 padding: 10px;
 margin: 0 24px 28px 24px;
 font-size: 22px;
 text-transform: uppercase;
 text-decoration: none;
 text-align: center;
 cursor: pointer;
}

input[type="submit"]:hover {
 background-color: lighten(#c62314, 15%);
 @::after;
 opacity: .7;
}

input[type="submit"]:active {
 background-color: #130e27;
}

.form-field {
 margin-bottom: 20px;
}

.terms {
 display: inline-block;
 color: #130e27;
 font-size: 20px;
}

.services__title {
 color: #130e27;
 font-size: 50px;
 text-transform: uppercase;
 margin-bottom: 100px;
 margin-left: 20px;
}

.service {
 color: #c62314;
}

.services {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-gap: 10px;
 margin-bottom: 65px;
}

.services__item {
 align-self: end;
 text-align: center;
}
 
 .services__item  p {
  font-size: 20px;
  color: #161616;
 }
 
 .services__item .image {
  margin-bottom: 50px;
 }
 
 .us {
  background-color: #130e27;
 }
 
 .about__us {
  display: grid;
  grid-template-columns: 2fr 1fr;
 }
 
.about {
 color: #fff;
 font-size: 20px;
 align-self: center;
 padding-left: 20px;
}

.about p {
 padding-right: 10px;
}

.about-button {
 justify-self: right;
 margin: 30px 0;
}

.button {
 color: #fff;
 font-size: 22px;
 width: 270px;
 background-color: #c62314;
 text-transform: uppercase;
 padding: 10px 0;
 border-radius: 5px;
 border: none;
 cursor: pointer;
}

.pricing{
 background-color: #efefef;
}

.prices h2 {
 color:#130e27;
 font-size: 50px;
 text-transform: uppercase;
 font-weight: bold;
 text-align: center;
 padding-top: 65px;
 padding-bottom: 60px;
}

.cards {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-gap: 25px;
 text-align: center;
}

.cards a {
 display: block;
 color: #000;
}

.card {
 position: relative;
 background-color: #fff;
 border-radius: 5px;
}

.card-image {
 position: absolute;
 top: 0;
 left: 0;
 width: auto;
 height: 93px;
}

.card-image-1 {
 position: absolute;
 top: 0;
 left: 0;
}

h4 {
 margin: 40px 0 35px 0;
 font-size: 22px;

}
 
.card-1 {
 color: #c62314;
 text-transform: uppercase;
 font-size: 60px;
 font-weight: bold;
}

.card-1{
 margin-bottom: 35px;
}

.card p {
 font-size: 20px;
}

.card .card__button {
 font-size: 16px;
 color: #fff;
 background-color: #130e27;
 width: 205px;
 text-transform: uppercase;
 border-radius: 5px;
 padding: 15px 0;
 margin: 0 auto;
 margin-top: 30px;
 border: none;
 cursor: pointer;
}

.card__button:hover {
 background: #c62314;
}

.pricing {
 margin-bottom: 150px;
}

.gallery-grid {
 display: grid;
 grid-template-columns: 1fr 1fr;
}

.gallery-title {
 color: #c62314;
 font-size: 40px;
 text-transform: uppercase;
 margin-bottom: 60px;
 text-align: center;
}

.blue {
 color: #130e27;
}

.image-grid {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 justify-items: right;
}

.gallery-block:hover {
 color: #c62314;
 background-color: #efefef;
}
.gallery-block:hover .test-logo {
 transform: scale(1.2);
}


.gallery-block {
 position: relative;
 padding-left: 20px;
}

.test-logo {
 position: absolute;
 top: 0;
 right: 0;
}



.gallery-block p {
 font-size: 20px;
 padding-top: 10px;
}

.images-1 {
 display: block;
 margin-top: 30px;
 margin-bottom: 90px;
 color: #160b41;
 font-size: 20px;
}

.images-red {
 color: #c62314;
}

.images-link {
 display: block;
 color: #160b41;
 text-transform: uppercase;
 font-size: 20px;
 text-align: center;
 font-weight: bold;
 margin-bottom: 130px;
}
 
.images-link:hover {
 text-decoration: underline;
}

.left {
 align-self: end;
}

footer {
 background-color: #130e27;
}

.footer {
 display: grid;
 grid-template-columns: 2fr 1fr;
 padding: 60px 0;
 align-items: center;
}

.rights p {
 color: #fff;
 font-size: 20px;
 padding: 0 5px;
}

.rights-red {
 color: #c62314;
}

.auto {
 justify-self: right;
}
 @media screen and (max-width : 908px) {
  .describe {
   display: grid;
   grid-template-columns: 1fr;
   justify-items: left;
   margin-bottom: 75px;
  }
  
  .services__title {
    text-align: center;
   }
 }
 @media screen and (max-width : 768px) {
   .heading {
	grid-template-columns: 1fr;
	justify-items: center;
   }
   
   .navigation {
    justify-self: center;
   }
   
   .menu a {
    justify-self: center;
   }
   
   
   .services {
	grid-template-columns: 2fr 2fr;
   }
   
   .about p {
    margin-top: 10px;
   }
   
   .about__us {
   	grid-template-columns: 1fr;
   }
   
   .about-button {
    justify-self: center;
   }
   
   .cards {
    grid-template-columns: 335px;
	justify-content: center;
   }
   
   .gallery-grid {
    grid-template-columns: 1fr;
   }
   
   .image-grid {
    justify-items: center;
   }
   
   .gallery {
    margin-bottom: 100px;
   }
   
   .footer {
    grid-template-columns: 1fr;
	justify-items: center;
   }
   .auto {
    justify-self: center;
	margin-top: 10px;
   }

 }
 
 @media screen and (max-width : 397px) {
  .services {
	grid-template-columns: 1fr;
   }
 }
 
 @madia print {
   body {
   background-color: transparent !important;
   color: #000 !important;
   box-shadow: none !important;
   }
   
   h1, h2, h3, h4, p {
    color: #000 !important;
   }
   
   .navigation,
   img,
   footer {
    display: none !important;
   }
   
   ul, img {
    page-break-inside: avoid;
}
   
   @page {
   margin: 2cm;
   }
 }
 
  